{#
/**
 * @file
 * Default theme implementation to display a Textimage formatter theme.
 *
 * Available variables:
 * - textimage_output: A Textimage formatter array. @TODO
 *
 * @ingroup theme
 */
#}
{% spaceless %}
{% if image %}
  {% if anchor_url %}
    <a {{ anchor_attributes }}>
  {% endif %}
    {% if image_container_attributes %}
      <div {{ image_container_attributes }}>
    {% endif %}
    {{ image }}
    {% if image_container_attributes %}
      </div>
    {% endif %}
  {% if anchor_url %}
    </a>
  {% endif %}
{% else %}
  {{ 'Image not available.'|t }}
{% endif %}
{% endspaceless %}
