.chosen-container .chosen-default span,
.chosen-container .chosen-choices li.search-field input[type="text"] {
  color: #444;
}
.chosen-container .search-choice {
  clear: both;
}
.js .block-facet--term-image-select:not(.facets-chosen-disabled) > h2,
.js .block-facet--term-select:not(.facets-chosen-disabled) > h2,
.js .term-select-widget-form .search-form__submit,
.js .term-image-select-widget-form .search-form__submit {
  display: none;
}
.js .term-select-widget-form.changed .search-form__submit,
.js .term-image-select-widget-form.changed .search-form__submit {
  display: block;
}
.chosen-container .term-depth-child::before {
  content: "\21B3";
  display: inline-block;
  padding-right: 0.5em;
}
