.views-display-switcher,
.views-display-switcher li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.views-display-switcher li {
  display: inline;
}

.views-display-switch .view-content::after {
  display: block;
  content: " ";
  clear: both;
}
.views-display-switch-grid .views-row {
  box-sizing: border-box;
  float: left;
  padding: 0 0.5em;
  width: 25%;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.views-display-switch-grid .views-row:nth-child(4n+1) {
  clear: both;
}
