.views-display-switch-grid .group-middle,
.views-display-switch-grid .group-right,
.views-display-switch-grid .group-footer {
  display: none;
}
.views-display-switch-grid .group-left {
  width: 100%;
}
.views-display-switch-grid .group-header,
.views-display-switch-grid .node .field--name-field-image,
.views-display-switch-grid .node .field--name-field-image a,
.views-display-switch-grid img {
  margin: 0;
  text-align: center;
}
.views-display-switch-grid .node--view-mode-teaser {
  border-bottom-width: 0;
}
