.views-display-switcher,.views-display-switcher li{list-style:none;margin:0;padding:0;}.views-display-switcher li{display:inline;}.views-display-switch .view-content::after{display:block;content:" ";clear:both;}.views-display-switch-grid .views-row{box-sizing:border-box;float:left;padding:0 0.5em;width:25%;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}.views-display-switch-grid .views-row:nth-child(4n+1){clear:both;}
.views-align-left{text-align:left;}.views-align-right{text-align:right;}.views-align-center{text-align:center;}.views-view-grid .views-col{float:left;}.views-view-grid .views-row{clear:both;float:left;width:100%;}
.views-display-switch-grid .group-middle,.views-display-switch-grid .group-right,.views-display-switch-grid .group-footer{display:none;}.views-display-switch-grid .group-left{width:100%;}.views-display-switch-grid .group-header,.views-display-switch-grid .node .field--name-field-image,.views-display-switch-grid .node .field--name-field-image a,.views-display-switch-grid img{margin:0;text-align:center;}.views-display-switch-grid .node--view-mode-teaser{border-bottom-width:0;}
.ds-3col-stacked-equal > .group-header{clear:both;}.ds-3col-stacked-equal > .group-left{width:33%;float:left;}[dir="rtl"] .ds-3col-stacked-equal > .group-left{float:right;}.ds-3col-stacked-equal > .group-middle{width:34%;float:left;}[dir="rtl"] .ds-3col-stacked-equal > .group-middle{float:right;}.ds-3col-stacked-equal > .group-right{width:33%;float:right;}[dir="rtl"] .ds-3col-stacked-equal > .group-right{float:left;}.ds-3col-stacked-equal > .group-footer{clear:both;}
.flag{display:block;border:none;}.flag:hover{border:none;}
