.chosen-container .chosen-default span,.chosen-container .chosen-choices li.search-field input[type="text"]{color:#444;}.chosen-container .search-choice{clear:both;}.js .term-select-widget-form .search-form__submit,.js .term-image-select-widget-form .search-form__submit{display:none;}.chosen-container .term-depth-child::before{content:'↳ ';}
.chosenImage-container .chosen-single span{background:none 3px center / 19px 19px no-repeat;}.chosenImage-container .chosen-single span,.chosenImage-container .chosen-results li.active-result,.chosenImage-container .chosen-results li.result-selected{background-size:50px;padding-left:60px;}.chosenImage-container .chosen-default span{padding-left:0;}
