.chosenImage-container .chosen-single span{background:none 3px center / 19px 19px no-repeat;}.chosenImage-container .chosen-single span,.chosenImage-container .chosen-results li.active-result,.chosenImage-container .chosen-results li.result-selected{background-size:50px;padding-left:60px;}.chosenImage-container .chosen-default span{padding-left:0;}.js .block-facets--term-image-select:not(.chosen-disabled) > h2{display:none;}
