.views-align-left{text-align:left;}.views-align-right{text-align:right;}.views-align-center{text-align:center;}.views-view-grid .views-col{float:left;}.views-view-grid .views-row{clear:both;float:left;width:100%;}
.ds-3col-stacked-equal > .group-header{clear:both;}.ds-3col-stacked-equal > .group-left{width:33%;float:left;}[dir="rtl"] .ds-3col-stacked-equal > .group-left{float:right;}.ds-3col-stacked-equal > .group-middle{width:34%;float:left;}[dir="rtl"] .ds-3col-stacked-equal > .group-middle{float:right;}.ds-3col-stacked-equal > .group-right{width:33%;float:right;}[dir="rtl"] .ds-3col-stacked-equal > .group-right{float:left;}.ds-3col-stacked-equal > .group-footer{clear:both;}
.ds-2col-stacked-fluid > .group-left{float:left;width:50%;}[dir="rtl"] .ds-2col-stacked-fluid > .group-left{float:right;}.ds-2col-stacked-fluid > .group-right{float:right;width:50%;}[dir="rtl"] .ds-2col-stacked-fluid > .group-right{float:left;}.ds-2col-stacked-fluid.group-one-column > .group-left,.ds-2col-stacked-fluid.group-one-column > .group-right{width:100%;float:none;}.ds-2col-stacked-fluid > .group-footer{clear:both;}
.flag{display:block;border:none;}.flag:hover{border:none;}
.ds-2col > .group-left{float:left;width:50%;}[dir="rtl"] .ds-2col > .group-left{float:right;}.ds-2col > .group-right{float:left;width:50%;}[dir="rtl"] .ds-2col > .group-right{float:right;}
