.js input.form-autocomplete{border:1px solid #ccc;}ul[data-sa-theme="basic-blue"]{box-shadow:rgba(0,0,0,0.498039) 0px 0px 15px;background:white;border-bottom:1px solid #bfbfbf;text-align:left;font-family:'Lucida Grande',Helvetica,Arial,Verdana,sans-serif;min-width:350px;}ul[data-sa-theme="basic-blue"] > *,ul[data-sa-theme="basic-blue"] > *.ui-state-focus,ul[data-sa-theme="basic-blue"] > *:hover{border-color:#bfbfbf;border-width:1px 0px 0 0px;border-style:solid;margin:0px;padding:5px 7px;}ul[data-sa-theme="basic-blue"] > div.ui-autocomplete-field-group{opacity:1;font-weight:bold;text-align:center;text-transform:uppercase;font-size:0.8em;background-color:#CCCCCC;padding:1px 5px;margin:0px;}ul[data-sa-theme="basic-blue"] > li.ui-menu-item{background:white;}ul[data-sa-theme="basic-blue"] > li.ui-menu-item.ui-state-focus,ul[data-sa-theme="basic-blue"] > li.ui-menu-item:hover{background:#0072b9;border-top-color:#1f4a64;}ul[data-sa-theme="basic-blue"] .ui-autocomplete-field-term{font-weight:bold;border-bottom:1px dotted;}ul[data-sa-theme="basic-blue"] .ui-autocomplete-fields > *:first-child{font-weight:bold;color:black;}ul[data-sa-theme="basic-blue"] .ui-autocomplete-fields > *{font-size:0.85em;line-height:1.3em;color:#6f6f6f;}ul[data-sa-theme="basic-blue"] > li.ui-menu-item.ui-state-focus .ui-autocomplete-fields > *,ul[data-sa-theme="basic-blue"] > li.ui-menu-item:hover .ui-autocomplete-fields > *{color:white;}ul[data-sa-theme="basic-blue"] > div.ui-autocomplete-field-group.no_results + li.ui-menu-item,ul[data-sa-theme="basic-blue"] > div.ui-autocomplete-field-group.more_results + li.ui-menu-item{padding:0px;}ul[data-sa-theme="basic-blue"] > div.ui-autocomplete-field-group.no_results + li.ui-menu-item .ui-autocomplete-fields > *:first-child,ul[data-sa-theme="basic-blue"] > div.ui-autocomplete-field-group.more_results + li.ui-menu-item .ui-autocomplete-fields > *:first-child{font-weight:normal;text-align:center;font-style:italic;}
.text-align-left{text-align:left;}.text-align-right{text-align:right;}.text-align-center{text-align:center;}.text-align-justify{text-align:justify;}.align-left{float:left;}.align-right{float:right;}.align-center{display:block;margin-left:auto;margin-right:auto;}
.fieldgroup{border-width:0;padding:0;}
.container-inline div,.container-inline label{display:inline-block;}.container-inline .details-wrapper{display:block;}
.clearfix:after{content:"";display:table;clear:both;}
.js details:not([open]) .details-wrapper{display:none;}
.hidden{display:none;}.visually-hidden{position:absolute !important;clip:rect(1px,1px,1px,1px);overflow:hidden;height:1px;width:1px;word-wrap:normal;}.visually-hidden.focusable:active,.visually-hidden.focusable:focus{position:static !important;clip:auto;overflow:visible;height:auto;width:auto;}.invisible{visibility:hidden;}
.item-list__comma-list,.item-list__comma-list li{display:inline;}.item-list__comma-list{margin:0;padding:0;}.item-list__comma-list li:after{content:",";}.item-list__comma-list li:last-child:after{content:"";}
.js .js-hide{display:none;}.js-show{display:none;}.js .js-show{display:block;}
.nowrap{white-space:nowrap;}
.position-container{position:relative;}
.progress{position:relative;}.progress__track{background-color:#fff;border:1px solid;margin-top:5px;max-width:100%;min-width:100px;height:16px;}.progress__bar{background-color:#000;height:16px;width:3%;min-width:3%;max-width:100%;}.progress__description,.progress__percentage{color:#555;overflow:hidden;font-size:.875em;margin-top:0.2em;}.progress__description{float:left;}[dir="rtl"] .progress__description{float:right;}.progress__percentage{float:right;}[dir="rtl"] .progress__percentage{float:left;}.progress--small .progress__track{height:7px;}.progress--small .progress__bar{height:7px;background-size:20px 20px;}
.reset-appearance{-webkit-appearance:none;-moz-appearance:none;appearance:none;border:0 none;background:transparent;padding:0;margin:0;line-height:inherit;}
.resize-none{resize:none;}.resize-vertical{resize:vertical;min-height:2em;}.resize-horizontal{resize:horizontal;max-width:100%;}.resize-both{resize:both;max-width:100%;min-height:2em;}
table.sticky-header{background-color:#fff;margin-top:0;z-index:500;top:0;}
.tablesort{width:16px;height:16px;display:inline-block;background-size:100%;}.tablesort--asc{background-image:url(/core/misc/icons/787878/twistie-down.svg);}.tablesort--desc{background-image:url(/core/misc/icons/787878/twistie-up.svg);}
div.tree-child{background:url(/core/misc/tree.png) no-repeat 11px center;}div.tree-child-last{background:url(/core/misc/tree-bottom.png) no-repeat 11px center;}[dir="rtl"] div.tree-child,[dir="rtl"] div.tree-child-last{background-position:-65px center;}div.tree-child-horizontal{background:url(/core/misc/tree.png) no-repeat -11px center;}
.ui-helper-hidden{display:none;}.ui-helper-hidden-accessible{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}.ui-helper-reset{margin:0;padding:0;border:0;outline:0;line-height:1.3;text-decoration:none;font-size:100%;list-style:none;}.ui-helper-clearfix:before,.ui-helper-clearfix:after{content:"";display:table;border-collapse:collapse;}.ui-helper-clearfix:after{clear:both;}.ui-helper-clearfix{min-height:0;}.ui-helper-zfix{width:100%;height:100%;top:0;left:0;position:absolute;opacity:0;filter:Alpha(Opacity=0);}.ui-front{z-index:100;}.ui-state-disabled{cursor:default !important;}.ui-icon{display:block;text-indent:-99999px;overflow:hidden;background-repeat:no-repeat;}.ui-widget-overlay{position:fixed;top:0;left:0;width:100%;height:100%;}
.ui-menu{list-style:none;padding:0;margin:0;display:block;outline:none;}.ui-menu .ui-menu{position:absolute;}.ui-menu .ui-menu-item{position:relative;margin:0;padding:3px 1em 3px .4em;cursor:pointer;min-height:0;list-style-image:url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");}.ui-menu .ui-menu-divider{margin:5px 0;height:0;font-size:0;line-height:0;border-width:1px 0 0 0;}.ui-menu .ui-state-focus,.ui-menu .ui-state-active{margin:-1px;}.ui-menu-icons{position:relative;}.ui-menu-icons .ui-menu-item{padding-left:2em;}.ui-menu .ui-icon{position:absolute;top:0;bottom:0;left:.2em;margin:auto 0;}.ui-menu .ui-menu-icon{left:auto;right:0;}
.ui-autocomplete{position:absolute;top:0;left:0;cursor:default;}
[id^="coffee"]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}#coffee-bg{position:fixed;left:0;top:0;width:100%;height:100%;z-index:999;}.coffee-form-wrapper{pointer-events:none;left:0;width:100%;position:fixed;top:20%;z-index:9999;}#coffee-form{pointer-events:auto;position:relative;margin:0 auto;max-width:500px;width:100%;padding:10px;font:16px/1.5 sans-serif;background:black;background:rgba(0,0,0,0.4);-webkit-border-radius:15px;-moz-border-radius:15px;-ms-border-radius:15px;-o-border-radius:15px;border-radius:15px;opacity:1;-webkit-transition:opacity 0.35s;-moz-transition:opacity 0.35s;-ms-transition:opacity 0.35s;-o-transition:opacity 0.35s;transition:opacity 0.35s false;}#coffee-form,#coffee-form input,#coffee-form a{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}.coffee-form-wrapper.hide-form{position:absolute;left:-100%;opacity:0;}#coffee-form-inner{background:#fff;color:#444;padding:10px 10px 1px;-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;border-radius:5px;-webkit-box-shadow:0px 10px 40px rgba(0,0,0,0.6);-moz-box-shadow:0px 10px 40px rgba(0,0,0,0.6);box-shadow:0px 10px 40px rgba(0,0,0,0.6);}#coffee-q{background:#d1d1d1;color:#000;border:0;font:36px sans-serif;line-height:52px;padding:5px 10px;width:100%;height:52px;outline:none;display:block;margin:0 0 10px;-webkit-border-radius:0px;-moz-border-radius:0px;-ms-border-radius:0px;-o-border-radius:0px;border-radius:0px;}#coffee-q:focus{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}#coffee-results ul{position:static;float:none;list-style:none;margin:0;padding:10px 0 0;border:0;}#coffee-results li{margin:0;padding:0;float:none;clear:none;width:auto;}#coffee-results a{display:block;border:0;outline:none;color:#444;padding:6px 10px 4px;line-height:normal;font-size:16px;text-decoration:none;height:auto;-webkit-transition:none;-moz-transition:none;-ms-transition:none;-o-transition:none;transition:none;-webkit-border-radius:0px;-moz-border-radius:0px;-ms-border-radius:0px;-o-border-radius:0px;border-radius:0px;}#coffee-results a.ui-state-hover,#coffee-results a:focus,#coffee-results a:hover,#coffee-results .ui-state-focus{background:#d1d1d1;color:#000;margin:0;cursor:pointer;}#coffee-results .description{display:block;font-size:11px;color:#888;}#coffee-results a.ui-state-hover .description{color:#666;}#coffee-results .ui-widget{font-family:sans-serif;}.toolbar .toolbar-bar .toolbar-icon-coffee:before,.toolbar .toolbar-bar .toolbar-icon-coffee.active:before{background-image:url(/modules/coffee/images/icons/bebebe/coffee.svg);}#coffee-q{background-image:url(/modules/coffee/images/icons/bebebe/coffee.svg);background-position:right 10px center;background-repeat:no-repeat;background-size:40px 40px;}
.contextual-region{position:relative;}.contextual .trigger:focus{position:relative !important;}.contextual-links{display:none;}.contextual.open .contextual-links{display:block;}
.views-align-left{text-align:left;}.views-align-right{text-align:right;}.views-align-center{text-align:center;}.views-view-grid .views-col{float:left;}.views-view-grid .views-row{clear:both;float:left;width:100%;}
#toolbar-administration,#toolbar-administration *{box-sizing:border-box;}#toolbar-administration{font-size:small;line-height:1;margin:0;padding:0;vertical-align:baseline;}@media print{#toolbar-administration{display:none;}}.toolbar li,.toolbar .item-list,.toolbar .item-list li,.toolbar .menu-item,.toolbar .menu-item--expanded{list-style-type:none;list-style-image:none;}.toolbar .menu-item{padding-top:0;}.toolbar .toolbar-bar .toolbar-tab,.toolbar .menu-item{display:block;}.toolbar .toolbar-bar .toolbar-tab.hidden{display:none;}.toolbar a{display:block;line-height:1;}.toolbar .toolbar-bar,.toolbar .toolbar-tray{position:relative;z-index:1250;}body.toolbar-fixed .toolbar-oriented,.toolbar-oriented .toolbar-bar,.toolbar-oriented .toolbar-tray{left:0;position:absolute;right:0;top:0;}.toolbar-oriented .toolbar-bar{z-index:502;}body.toolbar-fixed .toolbar-oriented .toolbar-bar{position:fixed;}body.toolbar-tray-open.toolbar-fixed.toolbar-vertical .toolbar-oriented{bottom:0;width:240px;width:15rem;}.toolbar .toolbar-bar .toolbar-tab,.toolbar .toolbar-tray-horizontal li{float:left;}[dir="rtl"] .toolbar .toolbar-bar .toolbar-tab,[dir="rtl"] .toolbar .toolbar-tray-horizontal li{float:right;}@media only screen{.toolbar .toolbar-bar .toolbar-tab,.toolbar .toolbar-tray-horizontal li{float:none;}[dir="rtl"] .toolbar .toolbar-bar .toolbar-tab,[dir="rtl"] .toolbar .toolbar-tray-horizontal li{float:none;}}@media (min-width:16.5em){.toolbar .toolbar-bar .toolbar-tab,.toolbar .toolbar-tray-horizontal li{float:left;}[dir="rtl"] .toolbar .toolbar-bar .toolbar-tab,[dir="rtl"] .toolbar .toolbar-tray-horizontal li{float:right;}}.toolbar-oriented .toolbar-bar .toolbar-tab,.toolbar-oriented .toolbar-tray-horizontal li{float:left;}[dir="rtl"] .toolbar-oriented .toolbar-bar .toolbar-tab,[dir="rtl"] .toolbar-oriented .toolbar-tray-horizontal li{float:right;}.toolbar .toolbar-tray{display:none;z-index:501;}.toolbar-oriented .toolbar-tray-vertical{left:-100%;position:absolute;width:240px;width:15rem;}[dir="rtl"] .toolbar-oriented .toolbar-tray-vertical{left:auto;right:-100%;}.toolbar .toolbar-tray-vertical > .toolbar-lining{min-height:100%;}.toolbar .toolbar-tray-vertical > .toolbar-lining:before{width:100%;}.toolbar-oriented .toolbar-tray-vertical > .toolbar-lining:before{bottom:0;content:'';display:block;left:0;position:fixed;top:0;width:240px;width:14rem;z-index:-1;}[dir="rtl"] .toolbar .toolbar-tray-vertical > .toolbar-lining:before{left:auto;right:0;}.toolbar .toolbar-bar .toolbar-tab > .toolbar-icon{position:relative;z-index:502;}.toolbar-oriented .toolbar-tray-horizontal .menu-item ul{display:none;}body.toolbar-fixed .toolbar .toolbar-tray-horizontal{position:fixed;}.toolbar .toolbar-tray-vertical.is-active,body.toolbar-fixed .toolbar .toolbar-tray-vertical{height:100%;overflow-x:hidden;overflow-y:auto;position:fixed;}.toolbar .toolbar-tray.is-active{display:block;}.toolbar-oriented .toolbar-tray-vertical.is-active{left:0;}[dir="rtl"] .toolbar-oriented .toolbar-tray-vertical.is-active{left:auto;right:0;}body.toolbar-tray-open.toolbar-vertical.toolbar-fixed{margin-left:240px;margin-left:15rem;}@media print{body.toolbar-tray-open.toolbar-vertical.toolbar-fixed{margin-left:0;}}[dir="rtl"] body.toolbar-tray-open.toolbar-vertical.toolbar-fixed{margin-left:auto;margin-left:auto;margin-right:240px;margin-right:15rem;}@media print{[dir="rtl"] body.toolbar-tray-open.toolbar-vertical.toolbar-fixed{margin-right:0;}}.toolbar .toolbar-tray .toolbar-toggle-orientation{display:none;}.toolbar-oriented .toolbar-tray .toolbar-toggle-orientation{display:block;}.toolbar-oriented .toolbar-tray-horizontal .toolbar-toggle-orientation{bottom:0;position:absolute;right:0;top:auto;}[dir="rtl"] .toolbar-oriented .toolbar-tray-horizontal .toolbar-toggle-orientation{left:0;right:auto;}.toolbar-oriented .toolbar-tray-vertical .toolbar-toggle-orientation{float:right;width:100%;}[dir="rtl"] .toolbar-oriented .toolbar-tray-vertical .toolbar-toggle-orientation{float:left;}
